<div id="<%= dom_id movie %>">
  <p>
    <strong>M title:</strong>
    <%= movie.m_title %>
  </p>

  <p>
    <strong>M releasedate:</strong>
    <%= movie.m_releaseDate %>
  </p>

  <p>
    <strong>M studio:</strong>
    <%= movie.m_studio %>
  </p>

  <p>
    <strong>M director:</strong>
    <%= movie.m_director %>
  </p>

  <p>
    <strong>M movieid:</strong>
    <%= movie.m_movieid %>
  </p>

</div>
