<div id="<%= dom_id show %>">
  <p>
    <strong>S title:</strong>
    <%= show.s_title %>
  </p>

  <p>
    <strong>S releasedate:</strong>
    <%= show.s_releaseDate %>
  </p>

  <p>
    <strong>S studio:</strong>
    <%= show.s_studio %>
  </p>

  <p>
    <strong>S director:</strong>
    <%= show.s_director %>
  </p>

  <p>
    <strong>S showid:</strong>
    <%= show.s_showid %>
  </p>

</div>
