<p style="color: green"><%= notice %></p>

<%= render @moviegenre %>

<div>
  <%= link_to "Edit this moviegenre", edit_moviegenre_path(@moviegenre) %> |
  <%= link_to "Back to moviegenres", moviegenres_path %>

  <%= button_to "Destroy this moviegenre", @moviegenre, method: :delete %>
</div>
