<%= form_with(model: moviegenre) do |form| %>
  <% if moviegenre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(moviegenre.errors.count, "error") %> prohibited this moviegenre from being saved:</h2>

      <ul>
        <% moviegenre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mg_genreid, style: "display: block" %>
    <%= form.number_field :mg_genreid %>
  </div>

  <div>
    <%= form.label :mg_movieid, style: "display: block" %>
    <%= form.number_field :mg_movieid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
